.HomePage {
    background-image: url(../assets/plantBackground.jpg);
    height: 80vh
}

.HomePage h1 {
    margin: 0;
    padding-left: 20%;
    padding-top: 10%;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 88, 15);
    line-height: 1;
}

.HomePage p {
    margin: 0;
    padding-left: 20%;
    padding-top: 10px;
    font-size: 1.18rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 88, 15);
}